
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

body{
    cursor: url(curss.png), auto;
}

h1{
    margin-left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    margin-left: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    padding-left: 0;
}

h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 50px;
}

.split-section {
    position: relative;
    height: 100vh;
    overflow: hidden; 
}

.half {
    position: absolute;
    width: 100%;
    height: 51vh;
    background-color: #000000; 
    background-image: url(./profile.png);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-half {
    top: 0;
}

.bottom-half {
    bottom: 0;
}


.seprator{
    margin-left: 2.5%;
    width: 100%;
    max-width: 1200px;
    height: 100px;
}

.home{
    display: flex;
    gap: 40px;
    justify-content: left;
    flex-wrap: wrap;
    object-fit: cover;
    flex-direction: row;
    padding-top: 30px;
    align-items: center;
}

.port{
    height: 400px;
    width: 760px;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 10%;
}

#expanded-menu {
  background-color: transparent;
  border-bottom: 1px solid var(--light);
  overflow: hidden;
  height: 0;
}

.me{
    height: 500px;
    width: 180px;
    margin-bottom: 30px;
    margin-top: 0;
    margin-left: 5%;
}

.nt{
    height: 250px;
    width: 420px;
    margin-left: 35px;
}

.container{
    flex: 1;
    
}

.split{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 50px;
    padding-top: 20px;
    will-change: transform;
    opacity: 0;
    font-size: 1rem;
}

.split * {
  will-change: transform;
}

.am{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 50px;
    padding-top: 20px;
}

.nav{
    padding: 30px 30px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}


.logo{
    width: 50px;
    height: 50px;
    cursor: url(point.png), pointer;
    order: 3;
    margin-left: auto;
    transition: transform 0.3s;
}
.logo:hover{
    transform: scale(1.05);
}

.data{
    display: flex;
}

.icons{
    width: 50px;
    height: 50px;
    margin-left: 30px;
}


#h{
    height: 35px;
    width: 60px;
    cursor: url(point.png), pointer;
    transition: transform 0.3s;
}
#h:hover{
    transform: scale(1.05);
}
#p{
    height: 40px;
    width: 110px;
    cursor: url(point.png), pointer;
    margin-left: 20px;
    transition: transform 0.3s;
}
#p:hover{
    transform: scale(1.05);
}
#g{
    height: 35px;
    width: 100px;
    cursor: url(point.png), pointer;
    margin-left: 20px;
    transition: transform 0.3s;
}
#g:hover{
    transform: scale(1.05);
}
#c{
    height: 35px;
    width: 100px;
    cursor: url(point.png), pointer;
    margin-left: 20px;
    transition: transform 0.3s;
}
#c:hover{
    transform: scale(1.05);
}

.cta{
    order: 1;
}

.pm{
    display: flex;
    gap: 20px;
    justify-content: left;
    flex-wrap: wrap;
    object-fit: cover;
    flex-direction: row;
}

.about{
    flex: 1;
}

.man{
    height: 350px;
    width: 450px;
    border-radius: 10px;
    margin-left: 70px;
    margin-bottom: 30px;
    transition: transform 0.3s;
    cursor: url(point.png), pointer;
}

.man:hover{
    transform: scale(1.05);
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxes-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.box {
  width: 25vw;
  height: 25vw;
  min-width: 200px;
  padding: 10px;
  margin: 0.2rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box-content {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  position: relative;
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

.modal .content {
  height: 90vh;
  aspect-ratio: 4/5;
  position: relative;
}

.modal .content .box-content {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.box-content.one {
  background-image: url("./poster.jpg");
  cursor: url(point.png), pointer;
}

.box-content.two {
  background-image: url("./room\ full\ day.png");
  cursor: url(point.png), pointer;
}

.box-content.three {
  background-image: url("./shaun\ the\ sheep\ f.png");
  cursor: url(point.png), pointer;
}

.box-content.four {
  background-image: url("./something.gif");
  cursor: url(point.png), pointer;
}

.box-content.five {
  background-image: url("./Untitled.png");
  cursor: url(point.png), pointer;
}

.box-content.six {
  background-image: url("./vend.gif");
  cursor: url(point.png), pointer;
}


